<div class="contenedor">

    <div class="contenedor-chat">

        <div class="area-mensajes">

            <div class="mensaje-usuario" *ngFor="let mensaje of mensajes">
                {{mensaje}}
            </div>

        </div>

        <div class="area-chat">
            <textarea name="mensaje" id="mensaje" [(ngModel)]="mensaje" (keydown.enter)="agregarMensaje(mensaje)">
            </textarea>
        </div>

        <div class="area-enviar">
            <button class="enviar-mensaje" (click)="agregarMensaje(mensaje)">Enviar</button>
        </div>

    </div>

    <div class="contenedor-informe">
        Contenedor informe

        <div>
            <table>
                <thead>
                    <th *ngFor="let header of getHeaders(informe)">
                        {{header}}
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of informe">
                        <td *ngFor="let key of objectKeys(fila)">
                            {{fila[key]}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

    <div class="contenedor-tablas">
        Contenedor tablas
        <select name="tablas" id="tablas" [(ngModel)]="selectedTable" (change)="onTableChange($event)">
            <option value="asignaturas">Asignatura</option>
            <option value="profesores">Profesores</option>
            <option value="estudiantes">Estudiantes</option>
        </select>

        <div *ngIf="selectedTable === 'asignaturas'" >
            <table>
                <thead>
                    <th>
                        Id
                    </th>
                    <th>
                        Asignatura
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let asignatura of asignaturas">
                        <td>{{asignatura.id}}</td>
                        <td>{{asignatura.asignatura}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="selectedTable === 'profesores'" >
            <table>
                <thead>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Correo
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let profesor of profesores">
                        <td>{{profesor.id}}</td>
                        <td>{{profesor.nombres}}</td>
                        <td>{{profesor.apellidos}}</td>
                        <td>{{profesor.correo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="selectedTable === 'estudiantes'" >
            <table>
                <thead>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Correo
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of estudiantes">
                        <td>{{estudiante.id}}</td>
                        <td>{{estudiante.nombres}}</td>
                        <td>{{estudiante.apellidos}}</td>
                        <td>{{estudiante.correo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>

</div>